:root {
  --dark-red: #730707;
}

div.card {
  background-color: rgba(0, 0, 0, 0.01);
}

header mark {
  color: var(--dark-red);
}

.pswp__custom-caption {
  background: rgba(115, 7, 7, 0.5);
  font-size: 16px;
  color: #fff;
  text-shadow: 2px 2px 2px black;
  width: calc(100% - 32px);
  max-width: 400px;
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}

ol.references > li:target, ol.references > li:target::marker {
  font-weight: bold;
  color: var(--dark-red);
}
